# ─── Système / éditeurs ───────────────────────────────────────────────────
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
.claude

# ─── Dépendances (si un jour un build est ajouté) ─────────────────────────
node_modules/
dist/


public/data/photos_jpg/
public/data/media_jpg

public/data/thumb_jpg

