# ─── Système / éditeurs ───────────────────────────────────────────────────
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/

# ─── Dépendances (si un jour un build est ajouté) ─────────────────────────
node_modules/
dist/


public/data/photos_jpg/
